<div class="container" style="text-align: center; margin-bottom:10%; max-width:600px">
    <br>
    <h3>¿Cómo realizar un pedido?</h3>
    <p style="text-align: justify;">
        1. Escoge los productos que quieres y agregalos al carrito. <br>
        2. Confirmar la orden por medio de "Realizar Pedido"<br>
        3. Te estaremos llamando para confirmar los productos de tu orden y la dirección en caso de escoger a domicilio.<br>
        4. Realizar pago por transferencia <strong>(BAC 721829581)</strong> o en efectivo al momento de recibirlos. (Por los momentos no tenemos pago con tarjeta)<br>
        5. Recibe tu pedido!
    </p>
    <br>
    <h3>¿Quiénes Somos?</h3>
    <p style="text-align: justify;">Somos una empresa dedicada a la distribución de productos alimenticios de primera necesidad que busca abastecer de todo aquello que necesite para el consumo diario en su casa, negocio u otro establecimiento. Nuestra prioridad es brindar una atención de primera con un surtido al alcance de todos.</p>
    <br><br>
    <h3>Misión</h3>
    <p style="text-align: justify;">Proporcionar a nuestra clientela del sector de San Pedro Sula productos y Servicios de calidad , con un personal altamente comprometido responsable y gentil brindando alternativas de compra a nuestros usuarios siempre con los mejores precios.</p>
    <br><br>
    <h3>Valores</h3>
    <p>Compromiso -Responsabilidad- Gentileza</p>
    <br><br>
</div>