<div class="container" style="text-align: center; margin-bottom:10%; max-width:600px">
    <br>
    <h3>¿Quiénes Somos?</h3>
    <p>Somos una empresa dedicada a la distribución de productos alimenticios de primera necesidad que busca abastecer de todo aquello que necesite para el consumo diario en su casa, negocio u otro establecimiento. Nuestra prioridad es brindar una atención de primera con un surtido al alcance de todos.</p>
    <br><br>
    <h3>Misión</h3>
    <p>Proporcionar a nuestra clientela del sector de San Pedro Sula productos y Servicios de calidad , con un personal altamente comprometido responsable y gentil brindando alternativas de compra a nuestros usuarios siempre con los mejores precios.</p>
    <br><br>
    <h3>Valores</h3>
    <p>Compromiso -Responsabilidad- Gentileza</p>
    <br><br>
</div>

<div class="footer" style="padding:25px">
    <p>La Tiendita del Río &copy; (2020)</p>
    <p>+504 9947-5935</p>
    <p>Barrio Río Piedras 7 calle 20 avenida</p>
    Síguenos en <br><br>
    <div class="row">
        <div class="col-xs-6" style="text-align: right; padding-right:2%;">
            <a href="https://www.instagram.com/riopiedras.store/">
                <img src="https://riopiedras.store/instagram.png" 
                    alt=""
                    width="25px"
                    style="margin-right: 20px;">
                    <br>
                Instagram
            </a>
        </div>
        <div class="col-xs-6" style="text-align: left; padding-left:2%;">
            <a href="https://www.facebook.com/Tiendita-del-Rio-105004831340279/">
                <img src="https://riopiedras.store/fb.png" 
                    alt=""
                    width="25px"
                    style="margin-left: 20px;">
                    <br>
                Facebook
            </a>
        </div>
    </div>
    <br>
    <a href="/contact">Acerca de Nosotros</a>
</div>