<div class="container">
    <h1>Admin</h1><br><br>
    <a href="/orders" class="btn btn-default" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Pedidos
    </a>
    <br><br>
    <a href="/products" class="btn btn-default" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Productos
    </a>
    <br><br>
    <a href="/suppliers" class="btn btn-default" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Proveedores
    </a>
    <br><br>
    <a href="/categories" class="btn btn-default" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Categorias
    </a>
    <br><br>
    <a href="/brands" class="btn btn-default" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Marcas
    </a>
</div>