
<div class="container">
    {{#if categories}}
        {{#each categories}}
            <div class="row">
                <a href="/products-category/{{this.id}}">
                    <h3>{{this.name}}</h3>
                </a>
            </div>
        {{/each}}
    {{else}}
    <i>No se puede ver el catalogo en este momento.</i>
    {{/if}}
</div>