<div class="container" style="text-align: center;">
    <h3>Números de Teléfono</h3>
    <ul>
        <li>+504 9947-5935</li>
        <li>+504 9930-6099</li>
    </ul>

    <br>
    ¿Tienes preguntas de nuestros productos o quieres realizar un pedido? Escríbenos. <br><br>
    <a href="https://wa.me/50499475935?text=Buenas,%20me%20interesa%20lo%20que%20estás%20vendiendo">
        <img src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-1.png" alt="" height="100">
    </a>
    <br>
    <h3>Dirección</h3>
    <p>Estamos ubicados en Barrio Río Piedras 7 calle 20 avenida</p>
    <img src="direccion.png" onerror="hasError()" id="logo" width="70%">

    <br>
    <h3>¿Cómo realizar un pedido?</h3>
    <p>
        1. Escoge los productos que quieres y agregalos al carrito. <br>
        2. Confirmar la orden por medio de "Realizar Pedido"<br>
        3. Te estaremos llamando para confirmar los productos de tu orden y la dirección en caso de escoger a domicilio.<br>
        4. Realizar pago por transferencia o en efectivo al momento de recibirlos. (Por los momentos no tenemos pago con tarjeta)<br>
        5. Recibe tu pedido!
    </p>
</div>