<div class="container">
    <h1>Recuperación de Contraseña</h1>
</div>
<br>
<div class="container" style="margin-bottom: 10%;">
    <form action="/forgot-password" method="POST" name="forgot">
        
        <div class="form-group">
            <label for="email">* Correo electrónico</label>
            <input type="text" class="form-control" id="email" name="email" maxlength="100">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterEmail">
                Ingrese el email.
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="emailFormat">
                Correo electrónico no tiene un formato correcto.
            </div>
        </div>
        
        <button class="g-recaptcha btn btn-success" 
            data-sitekey="{{siteKey}}" 
            data-callback='onSubmit' 
            data-action='submit'>Recuperar Contraseña</button>
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function onSubmit(token) {
        validate();
    }
    $('input').keypress(function(e){
        if(e.keyCode == 13){
            validate();
            return false;
        }
    });

    function validate() {
        const delay = 4000;//4seconds

        let params = {};
        params.email = $('#email').val().trim();

        let hasError = false;

        if (!params.email) {
            hasError = true;
            $('#enterEmail').fadeIn().delay(delay).fadeOut();
        }
        else if (!validateEmail(params.email)) {
            hasError = true;
            $('#emailFormat').fadeIn().delay(delay).fadeOut();
        }
        
        $('#email').val(params.email);

        if (!hasError) {
            $("form[name='register']").submit();
        }
    }

    function validateEmail(email) {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>