<div class="container">
    <h1>Iniciar Sesi&oacute;n</h1>
    ¿Aún no tienes cuenta&#63;
    <a href="/register" class="btn btn-info" role="button">
        <i class="fa fa-user" aria-hidden="true"></i> Registrarse
    </a>
</div>

{{#if message}}
<div class="container">
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
</div>
{{/if}}

{{#if success}}
<div class="container">
    <div class="alert alert-success" role="alert">
        Usuario creado exitosamente. Te hemos enviado un correo electrónico para que verifiques tu cuenta.
    </div>
</div>
{{/if}}

{{#if verified}}
<div class="container">
    <div class="alert alert-success" role="alert">
        Usuario verificado. Empieza a realizar pedidos tranquilamente.
    </div>
</div>
{{/if}}

<div class="container" style="margin-bottom: 10%;">
    <form action="/login" method="POST" name="login">
        <div class="form-group">
            <label for="email">Correo Electr&oacute;nico</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email@gmail.com" maxlength="100" value="honvramirez@gmail.com">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterEmail">
                Ingrese el email.
            </div>
        </div>

        <div class="form-group">
            <label for="password">Contrase&ntilde;a</label>
            <input type="password" class="form-control" id="password" name="password" maxlength="100" value="Test1234">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterPassword">
                Ingrese la contrase&ntilde;a.
            </div>
        </div>

        <button class="g-recaptcha btn btn-success" 
            data-sitekey="{{siteKey}}" 
            data-callback='onSubmit' 
            data-action='submit'>Iniciar Sesión</button>
    </form>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        validate();
    }
    $('input').keypress(function(e){
        if(e.keyCode == 13){
            validate();
            return false;
        }
    });

    function validate() {
        const delay = 6000;//6seconds

        let params = {};
        params.email = $('#email').val().trim();
        params.password = $('#password').val().trim();

        let hasError = false;
        if (!params.email) {
            hasError = true;
            $('#enterEmail').fadeIn().delay(delay).fadeOut();
        }
        if (!params.password) {
            hasError = true;
            $('#enterPassword').fadeIn().delay(delay).fadeOut();
        }

        $('#email').val(params.email);
        $('#password').val(params.password);
        if (!hasError) {
            $("form[name='login']").submit();
        }
    }
</script>