body {
  /* padding: 50px; */
  font: 16px "Lato", sans-serif;
}

a {
  color: #00b7ff;
}

* {
  /* -webkit-border-radius: 0 !important; */
  -moz-border-radius: 0 !important;
  /* border-radius: 0 !important; */
}

.dropdown-menu .cart {
  min-width: 250px;
  padding: 15px 25px 0;
}

.dropdown-menu .cart .row > div {
  padding: 0 0 10px 0;
}

.dropdown-menu .cart .totalPrice {
  font-size: 120%;
  font-weight: bold;
  padding: 15px 0;
}

.cart.page {
  padding: 25px 0;
}

.responsiveInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.details {
  margin-bottom: 5%;
}
form p {
  font-size: 2vw;
}

.active-cyan input.form-control[type="text"] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa,
.active-cyan-2 .fa {
  color: #4dd0e1;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(85, 81, 81);
  color: white;
  text-align: center;
}

.overlay {
  position: fixed;
  display: none;
  width: 240px;
  height: 90px;
  opacity: .8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  color: white;
  padding-left: 25px;
  padding-top: 25px;
  font-family: "Verdana"
}

.overlay-success{
  background-color: #06ba2a;
}

.overlay-alert{
  background-color: #ed3532;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.searchBar{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.horizontal-scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}