{{#if message}}
  <div class="container">
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  </div>
{{/if}}

<div class="container">
    <h1>Crear Proveedor</h1>

    <form action="/submit-supplier" name="submitsupplier" method="POST">
        <div class="form-group">
            <label for="name">Nombre Empresa</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Proveedor">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterName">
                Ingrese el nombre.
            </div>
        </div>

        <div class="form-group">
            <label for="name">Nombre Contacto</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="descripcion">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterDescription">
                Ingrese la nombre contacto.
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-2 col-form-label">Numero de Telefono</label>
            <div class="col-10">
                <input class="form-control" type="text" id="phone" name="phone">
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterPhone">
                Ingrese el numero de telefono.
            </div>
        </div>

        <div class="form-group">
            <label for="cellphone" class="col-2 col-form-label">Celular</label>
            <div class="col-10">
                <input class="form-control" type="text" id="cellphone" name="cellphone">
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-2 col-form-label">Direccion</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="7 calle 20 ave">
        </div>

        <div class="text-right">
            <a onclick="validate();" type="button" class="btn btn-success">Crear</a>
        </div>
    </form>
</div>

<script>
    function validate() {
        const delay = 6000;//6seconds

        let params = {};
        params.name = $('#name').val();
        params.description = $('#description').val();
        params.phone = $('#phone').val();
        params.cellphone = $('#cellphone').val();
        params.address = $('#address').val();

        let hasError = false;
        if (!params.name) {
            hasError = true;
            $('#enterName').fadeIn().delay(delay).fadeOut();
        }
        if (!params.description) {
            hasError = true;
            $('#enterDescription').fadeIn().delay(delay).fadeOut();
        }
        if (!params.phone) {
            hasError = true;
            $('#enterPhone').fadeIn().delay(delay).fadeOut();
        }

        if (!hasError) {
            $("form[name='submitsupplier']").submit();
        }
    }
</script>