{{#if message}}
  <div class="container">
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
  </div>
{{/if}}

<div class="container">
    <br><br>
    <h2>Crear Proveedor</h2>

    <form action="/submit-supplier" name="submitsupplier" method="POST">
        <div class="form-group">
            <label for="name"><strong>Nombre Empresa*</strong></label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Proveedor">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterName">
                Ingrese el nombre.
            </div> 
        </div>

        <div class="form-group">
            <label for="name"><strong>Nombre Contacto*</strong></label>
            <input type="text" class="form-control" id="description" name="description" placeholder="descripción">

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterDescription">
                Ingrese la nombre contacto.
            </div>
        </div>

        <div class="form-group">
            <label for="phone"><strong>Número de Teléfono*</strong></label>
            <div>
                <input class="form-control" type="text" id="phone" name="phone">
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="enterPhone">
                Ingrese el número de teléfono.
            </div>
        </div>

        <div class="form-group">
            <label for="cellphone">Celular</label>
            <div>
                <input class="form-control" type="text" id="cellphone" name="cellphone">
            </div>
        </div>

        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="7 calle 20 ave">
        </div>

        <div class="text-right">
            <a onclick="validate();" type="button" class="btn btn-success">Crear</a>
        </div>
    </form>
</div>
<br><br><br>
<script>
    function validate() {
        const delay = 6000;//6seconds

        let params = {};
        params.name = $('#name').val();
        params.description = $('#description').val();
        params.phone = $('#phone').val();
        params.cellphone = $('#cellphone').val();
        params.address = $('#address').val();

        let hasError = false;
        if (!params.name) {
            hasError = true;
            $('#enterName').fadeIn().delay(delay).fadeOut();
        }
        if (!params.description) {
            hasError = true;
            $('#enterDescription').fadeIn().delay(delay).fadeOut();
        }
        if (!params.phone) {
            hasError = true;
            $('#enterPhone').fadeIn().delay(delay).fadeOut();
        }

        if (!hasError) {
            $("form[name='submitsupplier']").submit();
        }
    }
</script>