<div class="container">
    <h1>Marcas</h1><br>
    <a href="/create-brand" class="btn btn-default" role="button">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Crear Marca
    </a>
    <a href="/admin" class="btn btn-info" role="button">
        <i class="fa fa-home" aria-hidden="true"></i> Admin
    </a>
</div>
<br>

{{#if success}}
  <div class="container">
    <div class="alert alert-success" role="alert">
        Marca Creada
    </div>
  </div>
{{/if}}

{{#if updated}}
  <div class="container">
    <div class="alert alert-success" role="alert">
        Marca Actualizada
    </div>
  </div>
{{/if}}

<div class="container">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {{#each brands }}
                <tr>
                    <td>{{ this.name }}</td>
                    <td>
                        <a href="/edit-brand/{{this.id}}" class="btn btn-info" role="button">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        } );
    } );
</script>
